<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.dh.entity"/>
    <context:component-scan base-package="com.dh.testBean"/>

<bean id="dateFormat" class="java.text.SimpleDateFormat">
    <constructor-arg value="yyyy-MM-dd HH:mm:ss"/>
</bean>
    <!-- 使用静态工厂方法创建实例
    <bean id="getOrdersInstance" class="com.dh.entity.OrdersInstance" factory-method="getInstance"/>

    <bean id="getOrdersFactory" class="com.dh.entity.OrdersInstance"/>
    <bean id="getOrdesInstance1" factory-bean="getOrdersFactory" factory-method="getInstance1"/>
    -->

<bean id="orders" class="com.dh.entity.Orders" scope="singleton">
    <property name="id" value="1"/>
    <property name="user_id" value="2"/>
    <property name="createtime">
        <bean factory-bean="dateFormat" factory-method="parse">
            <constructor-arg value="2022-2-10 10:05:09"/>
        </bean>
    </property>
    <property name="number" value="1123344444"/>
</bean>

    <bean id="user" class="com.dh.entity.User">
        <property name="id" value="1"/>
    </bean>


</beans>